*~
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
aarch64_toplevel
/build/
cmake_install.cmake
install_manifest.txt
libs/log.build/
libs/qbox.build/
libs/tlm2c.build/
make.log
models/cpu.build/
models/memory.build/
models/nvdla.build/
images/
fpga/aws-fpga/*/verif/.cxl.ip/
fpga/aws-fpga/*/verif/.cxl.vcs_mx.version
fpga/aws-fpga/*/verif/compile_simlib.log
fpga/aws-fpga/*/verif/sim/
fpga/aws-fpga/*/verif/synopsys_sim.setup
fpga/aws-fpga/*/verif/vivado.jou
fpga/aws-fpga/*/verif/vivado.log
fpga/aws-fpga/*/build/checkpoints/
fpga/aws-fpga/*/build/reports/
fpga/aws-fpga/*/build/src_post_encryption/
fpga/aws-fpga/*/build/scripts/.Xil/
fpga/aws-fpga/*/build/scripts/*.log
fpga/aws-fpga/*/build/scripts/last_log
fpga/aws-fpga/*/build/scripts/hd_visual/
fpga/aws-fpga/*/build/constraints/cl_clocks_aws.xdc
fpga/aws-fpga/fpga_sc_wrapper.build/
fpga/aws-fpga/common/trace_player/build/*.o
fpga/aws-fpga/common/trace_player/build/*.so
fpga/aws-fpga/common/trace_player/test/*.o
fpga/aws-fpga/common/trace_player/test/*.so
fpga/aws-fpga/common/trace_player/test/trace_player_dump_mem*.dat
fpga/aws-fpga/common/trace_player/test/trace_parser_command.c
fpga/aws-fpga/common/trace_player/test/trace_player_test
fpga/aws-fpga/cl_nvdla/verif/regression/regression_*
